@{
    ViewBag.Title = "Fabryka - Kontakt";
    ViewBag.Message = "Dane kontaktowe Fabryki";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Politechnika Rzeszowska - Studia podyplomowe<br />
    <br />
    <abbr title="Telefon">P:</abbr>
    123 - 123 -123
</address>

<address>
    <strong>Adres e-mail:</strong>   <a href="mailto:p6803@stud.prz.edu.pl">p6803@stud.prz.edu.pl</a>

</address>